# Spark DataFrame Basics, Part 2.

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [4]:
df = spark.read.json("people.json")

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.printSchema()
print("\n\n")

print(df.columns)
print("\n\n")

df.describe().show()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)




['age', 'name']



+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [13]:
# How to grab data from the `df` DataFrame.
print(df["age"])  # This will return a single column object
print(type(df["age"]))  # pyspark.sql.column.Column

Column<b'age'>
<class 'pyspark.sql.column.Column'>

In [20]:
# Use the select method if you actually want to see the contents of your column.
print(df.select("age"))  # This returns a DataFrame
df.select("age").show()  # This will actually print out the "age" column for us to inspect.
# Usually, the select method is much preferred over the column-indexing method.
print(type(df.select("age")))  # pyspark.sql.dataframe.DataFrame

DataFrame[age: bigint]
+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

<class 'pyspark.sql.dataframe.DataFrame'>

In [22]:
# Say that you want to check the row objects themselves:
df.head(2)  # will return a list of row objects.  You pass in the number of rows that you want to display.

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [26]:
print(df.head(2)[0])  # Select only the first row
print(type(df.head(2)[0]))  # pyspark.sql.types.Row.  i.e. this is a Row object in the DataFrame.

Row(age=None, name='Michael')
<class 'pyspark.sql.types.Row'>

In [29]:
# How to select multiple columns:
df.select(["age", "name"]).show()  # Note here that you need to pass in a list of columns (by using the [])

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
# How to add a new column to the existing DataFrame:
df.withColumn("double_age", df["age"]*2).show()  # Pass in the name of the new column, and then a column object.
# However, these changes are not permanent on our original DataFrame.  Not an inplace operation.

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [34]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
df.withColumnRenamed("age", "my_new_age").show()  # (existing column name, new column name)

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

### Using pure SQL to directly deal and interact with the DataFrame.

You can leverage your knowledge of SQL with spark.sql

In [37]:
# Register the DataFrame as a SQL temporary view.
df.createOrReplaceTempView("people")

In [38]:
results = spark.sql("SELECT * FROM people")

In [39]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+